In [1]:
import pandas as pd

In [8]:
burger_df = pd.read_csv("data/burger.csv")
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     NaN  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [7]:
burger_df = pd.read_csv("data/burger2.csv", header=None,
                       names = ['product_name', 'calories', 'carb', 'protein', 'fat', 'sodium', 'category'])
burger_df

             product_name  calories  carb  protein  fat  sodium category
0                 Whopper       660    49       28   40     1.0  Burgers
1          Cheese Whopper       740    50       32   46     1.3  Burgers
2          Double Whopper       900    49       48   58     1.0  Burgers
3   Double Cheese Whopper       980    50       52   64     1.4  Burgers
4          Whopper Junior       310    27       13   18     0.4  Burgers
5              Bacon King      1150    49       61   79     2.2  Burgers
6     Single Stacker King       700    48       35   42     1.4  Burgers
7     Double Stacker King      1050    49       61   68     NaN  Burgers
8               Hamburger       240    26       13   10     0.4  Burgers
9            Cheeseburger       280    27       15   13     0.6  Burgers
10       Double Hamburger       350    26       21   18     0.4  Burgers
11    Double Cheeseburger       390    27       23   21     0.6  Burgers
12         Crispy Chicken       670    54       23   41     1.1  Chicken
13        Chicken Nuggets       170    11        8   11     0.3  Chicken
14  Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

In [9]:
# iloc, loc
burger_df.iloc[3, 1]

50

In [10]:
burger_df.iloc[[2, 3], [1, 2]]

                       carb  protein
product_name
Double Whopper           49       48
Double Cheese Whopper    50       52

In [11]:
burger_df.iloc[1:4, :3]

                       calories  carb  protein
product_name
Cheese Whopper              740    50       32
Double Whopper              900    49       48
Double Cheese Whopper       980    50       52

In [12]:
burger_df.loc['Double Whopper', 'protein']

48

In [14]:
burger_df.loc[['Whopper', 'Double Whopper'], ['carb', 'protein', 'fat']]

                carb  protein  fat
product_name
Whopper           49       28   40
Double Whopper    49       48   58

In [15]:
burger_df.loc['Double Whopper':'Bacon King', 'calories':'fat']

                       calories  carb  protein  fat
product_name
Double Whopper              900    49       48   58
Double Cheese Whopper       980    50       52   64
Whopper Junior              310    27       13   18
Bacon King                 1150    49       61   79

In [17]:
burger_df['calories']

product_name
Whopper                   660
Cheese Whopper            740
Double Whopper            900
Double Cheese Whopper     980
Whopper Junior            310
Bacon King               1150
Single Stacker King       700
Double Stacker King      1050
Hamburger                 240
Cheeseburger              280
Double Hamburger          350
Double Cheeseburger       390
Crispy Chicken            670
Chicken Nuggets           170
Spicy Chicken Nuggets     210
Name: calories, dtype: int64