In [1]:
import pandas as pd

In [8]:
players_df =  pd.read_csv("data/tottenham_2021.csv")
players_df

                 name  matches  minutes  goals  assists
0     Pierre Højbjerg       38     3420      2        4
1         Hugo Lloris       38     3420      0        0
2       Son Heung-Min       37     3114     17       10
3          Harry Kane       35     3082     23       14
4           Eric Dier       28     2520      0        0
5     Tanguy Ndombele       33     2091      3        2
6     Sergio Reguilón       27     2244      0        3
7   Toby Alderweireld       25     2240      1        0
8        Serge Aurier       19     1605      2        3
9    Davinson Sánchez       18     1486      0        0
10     Moussa Sissoko       25     1585      0        0
11        Lucas Moura       30     1411      3        4
12         Ben Davies       20     1346      0        1
13       Matt Doherty       17     1240      0        2
14    Steven Bergwijn       21     1208      1        3
15   Giovani Lo Celso       18      945      1        1
16        Gareth Bale       20      920     11        2
17        Harry Winks       15      861      0        0
18          Joe Rodon       12      733      0        0
19          Dele Alli       15      620      0        1
20    Japhet Tanganga        6      487      0        0
21        Érik Lamela       23      717      1        0
22    Carlos Vinícius        9      308      1        0
23      Dane Scarlett        1        1      0        0

In [9]:
players_df.sort_values(by='matches', ascending=False)

                 name  matches  minutes  goals  assists
0     Pierre Højbjerg       38     3420      2        4
1         Hugo Lloris       38     3420      0        0
2       Son Heung-Min       37     3114     17       10
3          Harry Kane       35     3082     23       14
5     Tanguy Ndombele       33     2091      3        2
11        Lucas Moura       30     1411      3        4
4           Eric Dier       28     2520      0        0
6     Sergio Reguilón       27     2244      0        3
7   Toby Alderweireld       25     2240      1        0
10     Moussa Sissoko       25     1585      0        0
21        Érik Lamela       23      717      1        0
14    Steven Bergwijn       21     1208      1        3
16        Gareth Bale       20      920     11        2
12         Ben Davies       20     1346      0        1
8        Serge Aurier       19     1605      2        3
15   Giovani Lo Celso       18      945      1        1
9    Davinson Sánchez       18     1486      0        0
13       Matt Doherty       17     1240      0        2
17        Harry Winks       15      861      0        0
19          Dele Alli       15      620      0        1
18          Joe Rodon       12      733      0        0
22    Carlos Vinícius        9      308      1        0
20    Japhet Tanganga        6      487      0        0
23      Dane Scarlett        1        1      0        0

In [11]:
players_df.describe()

         matches      minutes      goals    assists
count  24.000000    24.000000  24.000000  24.000000
mean   22.083333  1566.833333   2.750000   2.083333
std    10.021354   995.416481   5.855135   3.399702
min     1.000000     1.000000   0.000000   0.000000
25%    16.500000   829.000000   0.000000   0.000000
50%    20.500000  1378.500000   0.500000   1.000000
75%    28.500000  2241.000000   2.000000   3.000000
max    38.000000  3420.000000  23.000000  14.000000